# Ham or Spam?

In [97]:
# when installing nltk for the first time we need to also download a few built in libraries
!pip install nltk
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

Requirement already satisfied: nltk in c:\users\utilisateur\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: regex>=2021.8.3 in c:\users\utilisateur\anaconda3\lib\site-packages (from nltk) (2022.3.15)
Requirement already satisfied: click in c:\users\utilisateur\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: tqdm in c:\users\utilisateur\anaconda3\lib\site-packages (from nltk) (4.64.0)
Requirement already satisfied: joblib in c:\users\utilisateur\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: colorama in c:\users\utilisateur\anaconda3\lib\site-packages (from click->nltk) (0.4.6)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\utilisateur\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\utilisateur\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\utilisateur\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [129]:
import pandas as pd

df = pd.read_pickle("email")
df['clean_text'] = 0
df.head()

                                                text  spam  clean_text
0  Subject: naturally irresistible your corporate...     1           0
1  Subject: the stock trading gunslinger  fanny i...     1           0
2  Subject: unbelievable new homes made easy  im ...     1           0
3  Subject: 4 color printing special  request add...     1           0
4  Subject: do not have money , get software cds ...     1           0

The dataset is made up of email that are classified as ham [0] or spam[1]. You need to clean the dataset before training a prediction model.

## Remove Punctuation

üëá Create a function to remove the punctuation. Apply it to the entire data and add the output as a new column in the dataframe called `clean_text`

In [130]:
import string

def remove_punctuation(df, column):
    for punctuation in string.punctuation:
        df[column] = df[column].apply(lambda x: x.replace(punctuation,''))
    return df[column]

df['clean_text'] = remove_punctuation(df, "text")
df

,text,spam,clean_text
0,Subject naturally irresistible your corporate ...,1,Subject naturally irresistible your corporate ...
1,Subject the stock trading gunslinger fanny is...,1,Subject the stock trading gunslinger fanny is...
2,Subject unbelievable new homes made easy im w...,1,Subject unbelievable new homes made easy im w...
3,Subject 4 color printing special request addi...,1,Subject 4 color printing special request addi...
4,Subject do not have money get software cds fr...,1,Subject do not have money get software cds fr...
...,...,...,...
5723,Subject re research and development charges t...,0,Subject re research and development charges t...
5724,Subject re receipts from visit jim thanks ...,0,Subject re receipts from visit jim thanks ...
5725,Subject re enron case study update wow all ...,0,Subject re enron case study update wow all ...
5726,Subject re interest david please call shi...,0,Subject re interest david please call shi...
5727,Subject news aurora 5 2 update aurora versi...,0,Subject news aurora 5 2 update aurora versi...

## Lower Case

üëá Create a function to lower case the text. Apply it to `clean_text`

In [131]:
def lower(df, column):
    df[column] = df[column].apply(lambda x: x.lower())
    return df[column]

df['clean_text'] = lower(clean_text, "clean_text")
df

,text,spam,clean_text
0,Subject naturally irresistible your corporate ...,1,subject naturally irresistible your corporate ...
1,Subject the stock trading gunslinger fanny is...,1,subject the stock trading gunslinger fanny is...
2,Subject unbelievable new homes made easy im w...,1,subject unbelievable new homes made easy im w...
3,Subject 4 color printing special request addi...,1,subject color printing special request addit...
4,Subject do not have money get software cds fr...,1,subject do not have money get software cds fr...
...,...,...,...
5723,Subject re research and development charges t...,0,subject re research and development charges t...
5724,Subject re receipts from visit jim thanks ...,0,subject re receipts from visit jim thanks ...
5725,Subject re enron case study update wow all ...,0,subject re enron case study update wow all ...
5726,Subject re interest david please call shi...,0,subject re interest david please call shi...
5727,Subject news aurora 5 2 update aurora versi...,0,subject news aurora update aurora version...

## Remove Numbers

üëá Create a function to remove numbers from the text. Apply it to `clean_text`

In [132]:
def del_number(df):
    return ''.join([word for word in df if not word.isdigit()])

df['clean_text']  = df.clean_text.apply(del_number)
df

,text,spam,clean_text
0,Subject naturally irresistible your corporate ...,1,subject naturally irresistible your corporate ...
1,Subject the stock trading gunslinger fanny is...,1,subject the stock trading gunslinger fanny is...
2,Subject unbelievable new homes made easy im w...,1,subject unbelievable new homes made easy im w...
3,Subject 4 color printing special request addi...,1,subject color printing special request addit...
4,Subject do not have money get software cds fr...,1,subject do not have money get software cds fr...
...,...,...,...
5723,Subject re research and development charges t...,0,subject re research and development charges t...
5724,Subject re receipts from visit jim thanks ...,0,subject re receipts from visit jim thanks ...
5725,Subject re enron case study update wow all ...,0,subject re enron case study update wow all ...
5726,Subject re interest david please call shi...,0,subject re interest david please call shi...
5727,Subject news aurora 5 2 update aurora versi...,0,subject news aurora update aurora version...

## Remove StopWords

üëá Create a function to remove stopwords from the text. Apply it to `clean_text`.

In [133]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
def stop_words(df):
    stop_word = set(stopwords.words('english'))
    word_tokens = word_tokenize(df)
    return ' '.join([w for w in word_tokens if not w in stop_word])

df['clean_text']  = df.clean_text.apply(stop_words)
df

,text,spam,clean_text
0,Subject naturally irresistible your corporate ...,1,subject naturally irresistible corporate ident...
1,Subject the stock trading gunslinger fanny is...,1,subject stock trading gunslinger fanny merrill...
2,Subject unbelievable new homes made easy im w...,1,subject unbelievable new homes made easy im wa...
3,Subject 4 color printing special request addi...,1,subject color printing special request additio...
4,Subject do not have money get software cds fr...,1,subject money get software cds software compat...
...,...,...,...
5723,Subject re research and development charges t...,0,subject research development charges gpg forwa...
5724,Subject re receipts from visit jim thanks ...,0,subject receipts visit jim thanks invitation v...
5725,Subject re enron case study update wow all ...,0,subject enron case study update wow day super ...
5726,Subject re interest david please call shi...,0,subject interest david please call shirley cre...
5727,Subject news aurora 5 2 update aurora versi...,0,subject news aurora update aurora version fast...

## Lemmatize

üëá Create a function to lemmatize the text. Make sure the output is a single string, not a list of words. Apply it to `clean_text`.

In [134]:
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\utilisateur\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [135]:
from nltk.stem import WordNetLemmatizer

def lem(df):
    words = df.split(" ")
    lemmatizer = WordNetLemmatizer()
    lemmatized = [lemmatizer.lemmatize(word) for word in words]
    df = lemmatized
    return ' '.join(df)

df['clean_text']  = df.clean_text.apply(lem)
df

,text,spam,clean_text
0,Subject naturally irresistible your corporate ...,1,subject naturally irresistible corporate ident...
1,Subject the stock trading gunslinger fanny is...,1,subject stock trading gunslinger fanny merrill...
2,Subject unbelievable new homes made easy im w...,1,subject unbelievable new home made easy im wan...
3,Subject 4 color printing special request addi...,1,subject color printing special request additio...
4,Subject do not have money get software cds fr...,1,subject money get software cd software compati...
...,...,...,...
5723,Subject re research and development charges t...,0,subject research development charge gpg forwar...
5724,Subject re receipts from visit jim thanks ...,0,subject receipt visit jim thanks invitation vi...
5725,Subject re enron case study update wow all ...,0,subject enron case study update wow day super ...
5726,Subject re interest david please call shi...,0,subject interest david please call shirley cre...
5727,Subject news aurora 5 2 update aurora versi...,0,subject news aurora update aurora version fast...

## Bag-of-words Modelling

üëá Vectorize the `clean_text` to a Bag-of-Words representation with a default CountVectorizer . Save as `X_bow`.

In [148]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
X = vectorizer.fit_transform(df['clean_text'])
y = df.spam

üëá Cross-validate a MultinomialNB model with the Bag-of-words. Score the model's accuracy.

In [150]:
from sklearn.naive_bayes import MultinomialNB
nb_model = MultinomialNB()
nb_model.fit(X,y)
nb_model.score(X,y)

0.9949371508379888

‚ö†Ô∏è Please push the exercise once you are done üôÉ

## üèÅ